$header-color-red: #da392b;
$default-fnt-clr: #242444;
$title-fnt: "Suez One", serif;
$default-fnt: "Roboto", sans-serif;
$sec-bg-clr: #f6f4f0;
$breakpoint: (
  "sm": 650px,
  "md": 904px,
  "lg": 1024px,
  "x-lg": 1880px,
  "xx-lg": 2560px,
);
